@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0a0a0c;
  color: #e2e2e2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}
